
<div class="container">
  <form>
    <div class="row">
      <div class="col">

      Username : <input type="text" name="username" class="form-control" placeholder="Username"  [(ngModel)]="username">
      
    
      Password    :   <input type="password" class="form-control" placeholder="password"   name="password" [(ngModel)]="password"><br/>
      <button  (click)=checkLogin() class="btn btn-success">Login </button>
    </div>

    
      
    
  </div>
</form>
</div>
<!-- 
<div class="container">
<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Username"  [(ngModel)]="username">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="password"  [(ngModel)]="password">
      <button  (click)=checkLogin() class="btn btn-success">

    </div>
    
  </div>
</form>
</div> -->
