<div class="col-md-12">
    <h2 class="text-center">Add Post</h2>
    <form>
      <div class="form-group">
        <label  for="name">Name:</label>
        <input type="name" [(ngModel)]="news.name" placeholder="Name" name="name" class="form-control" id="name">
      </div>
      <hr>
    
      <div class="form-group">
        <label for="description">Description:</label>
        
        <textarea  [(ngModel)]="news.description"  placeholder="Description" name="designation" class="form-control" id="description"></textarea>
      </div>
      <hr>
    
    
      
    
      <button class="btn btn-success" (click)="createPost()">Create</button>
    </form>
    </div>

   