.post{
    font-weight: 100;
    height: 100%;
}
h1{
    margin-left: auto;
    margin-right: auto;
    width: 10em
}

span{
    margin-left: auto;
    margin-right: auto;
    width: 10em
}
button{
    
    margin-left: 50%;
    margin-right: 50%;
    width: 40%;
}

